<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atyichen.checkinstatistics.excel.mapper.HolidayInfoMapper">

    <resultMap id="BaseResultMap" type="com.atyichen.checkinstatistics.excel.model.HolidayInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="date" column="date" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="wage" column="wage" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="week" column="week" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date,name,
        wage,type,week,
        create_time
    </sql>
</mapper>
